#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/*#footer{
    margin-top: 1rem;
    background-color: black;
    text-decoration-style: solid;
    position:absolute;
    bottom:0;
}*/
#t{
    color: aliceblue;
}